autopep8
black
faker
flake8
flake8-awesome
flake8-blind-except
flake8-deprecated
flake8-docstrings
flake8-meiqia
flake8-mutable
flake8-pep3101
flake8-pie
flake8-quotes
flake8-rst-docstrings
flake8-string-format
ipdb
jupyter
jupyter_contrib_nbextensions
jupytext
pre-commit
psutil
pycodestyle
pycodestyle_magic
pylint
pylint-venv
pytest
pytest-cov
pytest-flake8
pytest-sugar
python-decouple
setproctitle
sphinx
